header{
    background-image: url(./img/wall.png);
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: weight 700;
    font-style: bold;
  }


h1{
    font-size: 600%
}

.card-body h5{
    font-size: 40px;
    font-style: bold;
}

body{
    background-image: url(./img/cork.png)
}

#pin{
    position:absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(40, 30, 30, 0.5);
    width: 100%;
    height: 100%;
}





